<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/438ae8f4-1ba8-41b5-9e14-41c57c881e09/resourceGroups/resources/providers/Microsoft.Web/sites/chambappservices</ResourceId>
    <ResourceGroup>resources</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://chambappservices.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>befb960d-87d8-4666-b93f-1e6ab889030f</ProjectGuid>
    <PublishUrl>https://chambappservices.scm.azurewebsites.net/</PublishUrl>
    <UserName>$chambappservices</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>